.best_posts_homepage{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.best_posts_homepage h4{
    font-weight: bold;
}

.bestposts_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
}
