.town_container{
    width: 80%;
    margin: 0 auto;
}

.town_container h2{
    text-align: center;
}

.town_gallery{
 display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
}

